body{
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 98vw;
    background-image: url('qatar.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    
}
.menu{
    width: 97vw;
   background-image: linear-gradient(to 
   bottom,  rgb(255, 255, 255), rgb(225, 192, 192)); 
   height: 50px;
   display: inline-block;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 20px;
    
}

main{
        margin: 0 auto;
        width: 1000px;
        
        position: center;    
}

    
.logo{
     padding: 3px;
     position: right;
} 

.header-2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(10, 5, 4);
    border-radius: 300px;
}  

.principal ul li {
    display: inline-block;
    color: rgb(234, 25, 25);
    margin-right: 70px;
    margin-left: 30px;
}



.principal ul li a {
   color: rgb(205, 12, 12);
   text-decoration: none;
   font-size: 17px;
   text-transform: capitalize;
}


.marca{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.img{
    text-align: left;
}

main{
    text-align: center;
}

p{
    color: #fff;
}

table{
    text-align: center;
}

